# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
out/
dist/
build/
*.vsix

# Coverage / tests
coverage/
.nyc_output/

# TypeScript
*.tsbuildinfo

# Environment files
.env
.env.*

# OS junk
.DS_Store
Thumbs.db

# VS Code / tooling
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json

# Logs
*.log

.venv/
__pycache__/

resources/porcupine/